set_io i_clk         J3
set_io i_rst         D16
set_io o_tx          B12
set_io i_rx          B10
set_io o_data_0      B1  
set_io o_data_1      B2
set_io o_data_2      C1
set_io o_data_3      C2
set_io o_data_4      D1
set_io o_data_5      D2
set_io o_data_6      E2
set_io o_data_7      F1
set_io o_data_8      F2
set_io o_data_9      G1
set_io o_data_10     G2
set_io o_data_11     H1
set_io o_data_12     H2
set_io o_data_13     J2
set_io o_data_14     J1
set_io o_data_15     K3
set_io o_data_16     K1
set_io o_data_17     L3
set_io o_data_18     L1
set_io o_data_19     M2
set_io o_data_20     M1
set_io o_data_21     N3
set_io o_data_22     N2
set_io o_data_23     P1
set_io o_data_24     P2
