+length=256#
-
module x_variable_delay_line (
   input    logic                   i_dl,
   input    logic [@length@-1:0]    i_ctrl,
   output   logic                   o_dl
);

logic [@length@:0]   l;

// i_ctrl   in[i+1]     i_dl    |  in[i]
// ---------------------------------------
//    0       0          0      |   0 
//    0       0          1      |   0 
//    0       1          0      |   1 
//    0       1          1      |   1 
//    1       0          0      |   0 
//    1       0          1      |   1 
//    1       1          0      |   0 
//    1       1          1      |   1 

+for i in range(length):    
   (* BEL="X1/Y@(i//8)+1@/lc@i%8@" *)
   SB_LUT4 #(
      .LUT_INIT(16'b0000000010101100   )
   ) u_in_lut@i@ (
      .I3      (1'b0                   ),
      .I2      (i_ctrl[@i+1@]          ),
      .I1      (l[@i+1@]               ),
      .I0      (i_dl                   ),
      .O       (l[@i@]                 )
   );
-

assign o_dl = l[0];

endmodule
