+length=256#
-
module x_variable_delay_line (
   input    logic                   i_dl,
   input    logic [@length@-1:0]    i_ctrl,
   output   logic                   o_dl
);

logic [@length@:0]   out;
logic [@length@:0]   in;

assign out[0] = i_dl;

+for i in range(length):  
   (* BEL="X1/Y@(i//8)+1@/lc@i%8@" *)
   SB_LUT4 #(
      .LUT_INIT(16'h0002      )
   ) u_out_lut@i@ (
      .I3      (1'b0          ),
      .I2      (1'b0          ),
      .I1      (1'b0          ),
      .I0      (out[@i@]      ),
      .O       (out[@i+1@]    )
   );

   // i_ctrl   in[i+1]   out[i+1]  |  in[i]
   // ---------------------------------------
   //    0       0          0      |   0 
   //    0       0          1      |   0 
   //    0       1          0      |   1 
   //    0       1          1      |   1 
   //    1       0          0      |   0 
   //    1       0          1      |   1 
   //    1       1          0      |   0 
   //    1       1          1      |   1 

   (* BEL="X2/Y@(i//8)+1@/lc@i%8@" *)
   SB_LUT4 #(
      .LUT_INIT(16'b0000000010101100   )
   ) u_in_lut@i@ (
      .I3      (1'b0                   ),
      .I2      (i_ctrl[@i+1@]          ),
      .I1      (in[@i+1@]              ),
      .I0      (out[@i+1@]             ),
      .O       (in[@i@]                )
   );
-

assign o_dl = in[0];

endmodule
